AIRFLOW_UID=50000
AIRFLOW_WEBSERVER_PORT=8080
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow
_PIP_ADDITIONAL_REQUIREMENTS=
INGESTION_WORKER_PORT=8000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=ap-southeast-1
S3_BUCKET=
S3_LANDING_PREFIX=lakehouse/landing/douyin/api_raw/json
DOUYIN_LINK=
DOUYIN_COOKIE=
DOUYIN_MODE=post
DOUYIN_LIMIT=20
DOUYIN_START_TIME=
DOUYIN_END_TIME=
DOUYIN_SEED_FILE=/app/seeds/douyin_food_restaurant_seeds.yml
AIRFLOW_DOUYIN_SEED_FILE=/opt/airflow/seeds/douyin_food_restaurant_seeds.yml