niche,link,limit,start_date
douyin_food_restaurant,https://www.douyin.com/user/MS4wLjABAAAAYKL56iFoA9BweLvzrtfYI_8ToLudQE7xdBv_7jm3N2F9CJ6tucekNJAxOOTj2OrD?from_tab_name=main,0,2026-01-01
douyin_food_restaurant,https://www.douyin.com/user/MS4wLjABAAAA0DfGqz3H2S8xVub--5LLdVeq4xoIhNicRB9h6sdArXk?from_tab_name=main,0,2026-01-01
douyin_food_restaurant,https://www.douyin.com/user/MS4wLjABAAAAOXukm7EQck-ntHzQc5XPKmRCRWM9DaMyFRil7vbNgBE?from_tab_name=main,0,2026-01-01
douyin_food_restaurant,https://www.douyin.com/user/MS4wLjABAAAAkPm842bpyAHaJaNd9iAgHn3f9aMoiaIvEBhHQGNCN_o?from_tab_name=main,0,2026-01-01