niche,link,limit,start_date
douyin_food_restaurant,https://www.douyin.com/user/PASTE_SEC_UID_OR_USER_URL_HERE,10,2026-01-01
douyin_food_restaurant,https://www.douyin.com/user/PASTE_ANOTHER_USER_URL_HERE,20,2026-01-01
